body {
	background: #63d4cc;
	font-family: helvetica;
	position: relative;
}

h1 {
	color: black;
	background-color: 	#ff5b5b;
	border: solid black 2px;
	margin: 50px;

}

footer {
	font-size: 12px;
	font-family: helvetica;
	font-style: oblique;
	position: fixed;
	margin-left: 25%;
}