body {
	background: #63d4cc;
	font-family: helvetica;
	position: relative;
	display: block;
	vertical-align: top;
	min-width: 255px;
	padding: 5px;
}

h1 {
	color: black;
	background-color: 	#ff5b5b;
	border: solid black 2px;
	padding: 5px;
}

footer {
	font-size: 12px;
	font-family: helvetica;
	font-style: oblique;
	position: fixed;
	margin-left: 25%;
}

#bg-picture {
	font-weight: lighter;
	color: white;
	background-image: url(wood_texture.jpg);
	padding: 10px;
}

.bold-text {
	font-weight: bold;
}

a {
	color: yellow;
}